//
// Forms
// $author Ad Taylor
//
@import "compass/css3";

// ==========================================================================
// Standard Forms
// ==========================================================================

$form-spacing: 10px;

form {
  // @todo set the margin
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  color: $black;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 3px;

  &.right { float: none; text-align: right; }
}

label, input, button,
select, textarea {
  font-size: ms(0);
  line-height: 1.5;
  @include border-radius(4px);

  &.suffix {
    margin-left: -1px;
  }

  &.prefix {
    margin-right: -1px;
  }

}


input[type="text"], input[type="password"],
input[type="date"], input[type="datetime"],
input[type="email"], input[type="number"],
input[type="search"], input[type="tel"],
input[type="time"], input[type="url"],
textarea, select {
  display: block;
  margin: 0;
  padding: $form-spacing * 0.25 $form-spacing * 0.5;
  height: (ms(0) + ($form-spacing * 1.5));
  width: 100%;
  border: 1px solid mono(3);
  color: rgba(0,0,0,0.75);
  font-size: ms(0);
  @include transition(all 0.15s linear);

  &.large {
    font-size: ms(1);
    padding: $form-spacing * 0.75;
  }

  &:focus {
    background: darken($white, 2%);
    outline: none !important;
    border-color: darken($white, 30%);
  }

  &[disabled] {
    background-color: #ddd;
  }

}

textarea {
  height: auto;
}

select {
  width: 100%;
}

/* Fieldsets - Removed by Ad on the 28th Nov 2012
fieldset {
  border: solid 1px #ddd;
  border-radius: 3px;
  @include border-radius(3px);
  padding: 12px 12px 0;
  margin: 18px 0;

  legend {
    font-weight: bold;
    background: $white;
    padding: 0 3px;
    margin: 0 0 0 -3px;
  }
}
*/


.location.input {
  position: relative;

  .locate {
    display: none;
    position: absolute;
    top: 6px;
    right: 1px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: mono(2);

    &.is-active {
      color: $main-color;
    }
  }
}

.geolocation .location.input .locate {
  display: block;
}

// ==========================================================================
// Formtastic list forms
// ==========================================================================
.formtastic {
  .inputs, .actions{
    & > ol {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
    }
  }

  .input {
    margin-bottom: ms(1);
  }

  .hidden {
    display: none;
  }

  &.horizontal {
    label {
      width: 20%;
      float: left;
      display: block;
      abbr {
        border: none;
      }

      & + input,
      & + textarea,
      & + select {
        width: 76%;
        vertical-align:middle;
      }
    }

    .action {
      margin-left: 20%;
    }
  }
}


// ==========================================================================
// Form validations
// ==========================================================================

.form-msg {
  &.is-error {
    color: $alert-color;
  }

  &.is-info {
    color: blue();
  }
}

input, select, textarea {
  &.is-error {
    border-color: $alert-color;
  }
}

