//
// Lists
// $author Ad Taylor
//

// ==========================================================================
// Action list - hoz
// ==========================================================================

.action-list {
  @include clearfix();
  padding: 0;

  & > li {
    display:block;
    margin-right: $column-gutter/4;
  }
  
  .divider {
    border-left: 1px solid mono(2);
    height: $base-line-height-px/2;
  }
}


// ==========================================================================
// Action list Collapse state
// ==========================================================================

@include smallest-query(true){
  // Pass true to output outside
  // media query for IE
  .action-list.collapse {
    & > li {
      display: inline-block;
      margin:0;
      @if old-ie {
        *display: inline;
        *zoom: 1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


// ==========================================================================
// Action list - hoz
// ==========================================================================
.unset-list {
  padding-left: 0;
  list-style: none;
  list-style-image: none;
}
