//
// Type Defaults - Using Normalize.css rules as starting point
// $author Ad Taylor

// ==========================================================================
// Base
// ==========================================================================


// 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
//    `em` units.
// 2. Prevents iOS text size adjust after orientation change, without disabling
//    user zoom.


html {
  font-size: 100%; // 1
  -webkit-text-size-adjust: 100%; // 2
  -ms-text-size-adjust: 100%; // 2
}

// Addresses `font-family` inconsistency between `textarea` and other form
// elements.

html,
button,
input,
select,
textarea {
  font-family: $base-font-family;
}

// Addresses margins handled incorrectly in IE6/7.

body {
  margin: 0;
  background-color: $body-color;
  font-size: ms(0);
  line-height: $base-line-height;
  color: $body-font-color;
  -webkit-font-smoothing: antialiased;
}

// ==========================================================================
// Links
// ========================================================================== 

a {
  border-bottom: 1px dotted $txt-color;
  text-decoration: none;
  color: $txt-color;
}

// Addresses `outline` inconsistency between Chrome and other browsers.

a:focus {
  outline: thin dotted;
}

// Improves readability when focused and also mouse hovered in all browsers.
// people.opera.com/patrickl/experiments/keyboard/test

a:active,
a.is-active,
.is-active > a,
a:hover {
  border-color: $main-color;
  outline: 0;
  color: $main-color;
}

a.prominent {
  color: $main-color;
  text-decoration: none;
  font-weight: bold;

  &:active,
  &.is-active,
  &:hover {
    border-bottom: 1px dotted $main-color;
  }
}

// ==========================================================================
// Basic Typography
// ==========================================================================

/* Headings */
h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5 {
  margin-bottom: ms(0);
  margin-top: ms(0);
  font-family: $header-font-family;
  font-weight: bold;
}

h1, .h1 {
  font-size: ms(3);
  line-height: 1.19;
}

h2, .h2 {
  font-size: ms(4);
  line-height: 1.19;
}

h3, .h3 {
  font-size: ms(3);
}

h4, .h4{
  font-size: ms(2);
}

h5, .h5 {
  font-size: ms(1);
}

.h-light {
  font-weight: normal;
}

@include smallest-query(true) {
  // Pass true to output outside
  // media query for IE
  h1, .h1 {
    font-size: ms(5);
    line-height: 1.34;
  }
}

// Addresses styling not present in IE7/8/9, S5, Chrome.

abbr[title] {
  border-bottom: 1px dotted;
}

// Addresses style set to `bolder` in FF3+, S4/5, Chrome.


b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

// Addresses styling not present in S5, Chrome.


dfn {
  font-style: italic;
}

// Addresses styling not present in IE6/7/8/9.


mark {
  background: #ff0;
  color: #000;
}

// Addresses margins set differently in IE6/7.

p,
pre {
  margin-bottom: ms(0);
  margin-top: 0;
}


// Corrects font family set oddly in IE6, S4/5, Chrome.
// en.wikipedia.org/wiki/User:Davidgothberg/Test59

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

code {
  background-color: transparentize( $main-color, 0.7);
}

pre > code {
  display: block;
}

// Improves readability of pre-formatted text in all browsers.

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Addresses CSS quotes not supported in IE6/7.

q {
  quotes: none;
}

// Addresses `quotes` property not supported in S4.

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 0.785em;
}

// Prevents `sub` and `sup` affecting `line-height` in all browsers.
// gist.github.com/413930

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


// ==========================================================================
// Web fonts
// ==========================================================================
@import "webfonts/all";


// ==========================================================================
// Icons
// ==========================================================================

a[href*='twitter.com'], .twitter {
  color: $twitter-color;
}
a[href*='twitter.com'], a.twitter {
  &:hover, &:focus {
    color: darken($twitter-color, 10%);
  }
}

a[href*='mailto:'], .email {
  color: $email-color;
}
a[href*='mailto:'], a.email {
  &:hover, &:focus {
    color: darken($email-color, 10%);
  }
}


a[href*='facebook.com'], .facebook {
  color: $facebook-color;
}
a[href*='facebook.com'], a.facebook {
  &:hover, &:focus {
    color: darken($facebook-color, 10%);
  }
}


// ==========================================================================
// Typographic Extensions
// ==========================================================================

// Standout copy like leading paragraphs

.standout {
  font-size: ms(1);
}

// Supporting text

.support {
  @extend small;
  margin-bottom: ms(0)/2;
}

// Secondary text

.secondary {
  color: mono(2);
}

// Shout

.shout {
  font-weight: bold;

  &.small {
    color: $main-color;
  }

  &.medium {
    font-size: ms(1);
  }

  &.large {
    font-size: ms(5);
  }
}

