<div class="container">
  <header class="mother-eight column">
    <h1>Testing the Styleguide</h1>
  </header>
  <div class="row">
    <h2 class="mother-eight column">Paragraphs</h3>
  </div>
  <div class="row">
    <div class="mother-two sister-one column">
      <p>Standard paragraph, yo</p>
    </div>
    <div class="mother-two sister-one column">
      <p class="standout">Standout!</p>
    </div>
    <div class="mother-two sister-one column">
      <p class="secondary">Secodary</p>
    </div>
    <div class="mother-two sister-one column">
      <p class="support">Support</p>
    </div>
  </div>
  <div class="row">
    <div class="lists">
      <header class="mother-eight column">
        <h2>Lists</h2>
      </header>
      <div class="mother-two sister-one column">
        <h3>Unordered</h3>
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>
      <div class="mother-two sister-one column">
        <h3>Ordered</h3>
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>
      <div class="mother-two sister-one column">
        <h3>Nested</h3>
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <ul>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
          </ul>
          <li><a href="#">Item 5</a></li>
          <li><a href="#">Item 6</a></li>
        </ul>
      </div>
      <div class="mother-two sister-one column">
        <h3>Action</h3>
        <ul class="action-list">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 5</a></li>
          <li><a href="#">Item 6</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mother-eight sister-four column">
      <h2>Labels</h2>
      <a class="label" href="#">Default Label</a>
      <a class="label orange">Orange Label</a>
      <a class="label blue">Blue Label</a>
      <a class="label green">Green Label</a>
      <a class="label green shout small">Small Label</a>
      <a class="label green shout medium">Medium Label</a>
      <a class="label green shout large">Large Label</a>
    </div>
  </div>
  <div class="row">
    <div class="mother-eight sister-four column">
      <h2>Buttons</h2>
      <a class="btn">Ceci n'est pas un bouton</a>
      <button class="btn">Ceci n'est pas un lien</button>
    </div>
  </div>
  <div class="row">
    <div class="mother-four sister-four column">
      <h2>Forms</h2>
      <form action="/test-endpoint" class="horizontal formtastic entry" data-forms-success-content=" " data-forms-success-replace=".test-content" data-forms="/test-endpoint">
        <fieldset class="inputs">
          <ol>
            <li class="string input required stringish">
              <label for="test_entry_first_name">
                First name
                <abbr title="required">*</abbr>
              </label>
              <input id="test_entry_first_name" maxlength="255" name="entry[first_name]" type="text">
            </li>
            <li class="string input required stringish">
              <label for="test_entry_last_name">
                Last name
                <abbr title="required">*</abbr>
              </label>
              <input id="test_entry_last_name" maxlength="255" name="entry[last_name]" type="text">
            </li>
            <li class="email input required stringish">
              <label for="test_entry_email">
                Email
                <abbr title="required">*</abbr>
              </label>
              <input id="test_entry_email" maxlength="255" name="entry[email]" type="email">
            </li>
          </ol>
        </fieldset>
        <fieldset class="actions">
          <ol>
            <li class="support action">
              <p>By submitting this test you agree to the <a href="/terms-and-conditions">Terms and Conditions</a> and to share your information with us.</p>
            </li>
            <li class="action button_action">
              <button class="green btn" name="button" type="submit">Submit Test</button>
            </li>
          </ol>
        </fieldset>
      </form>
    </div>
  </div>
</div>
