//
// Panel Module
// $author Ad Taylor

// ==========================================================================
// Default Panel
// ==========================================================================


.panel {
  margin-bottom: ms(0);
  padding: ms(0) $column-gutter*2 ms(2) $column-gutter*2;
  background-color: mono(4);
}

// Text helper classes

.panel-left {
  text-align: left;
}

.panel-right {
  text-align: right;
}

.panel-center {
  text-align: center;
}
